extends ../../layout.pug

block variables
  - var customTitle = 'Поиск книги'

block head 

block content
  +pageTitle("Поиск книги")
  .row.justify-content-md-center 

    form.form-search-books
      .mb-2.align-items-end.justify-content-end
        input.form-control(type="text" id="authors" name="authors" placeholder="Введите данные автора" required)
        button(type="submit").btn.btn-primary.mt-3 Искать
    
    if (books)
      if (!books.length)
        .col 
          h3 Ничего не найдено :(
      else
        .row.align-items-center.pt-2.pb-2
          .col 
            h3 Список книг автора
          each book in books 
            .row.align-items-center.pt-2.pb-2
              .col= book.title 
              .col= book.authors
              .col.d-flex.justify-content-end
                a.btn.btn-primary(href="/book/" + book.id) Просмотр

      
block scripts 
  script(src='/search/index.js')