extends ../../layout.pug

block variables
  - var customTitle = 'Книги'

  
block head 
  link(rel="stylesheet" href="index.css")

block content 
  +pageTitle("Книги")
  .books.px-3
    .row.row-1.pb-3
      h4.col-5 Заголовок
      h4.col-2 Авторы
    each book in allBooks 
      .row.align-items-center.pt-2.pb-2
        .col= book.title 
        .col= book.authors.join(", ")
        .col.d-flex.justify-content-end
          a.btn.btn-primary(href="/book/" + book.id) Просмотр
          a.btn.btn-primary.mx-3(href="/update/" + book.id) Редактировать
